@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&family=Raleway:ital,wght@1,300&family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100&family=Young+Serif&display=swap");
@font-face {
    font-family: 'Factoria-Black';
    src: local('Factoria-Black'), url(/Factoria-Black.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Factoria-Bold';
    src: local('Factoria-Bold'), url(/Factoria-Bold.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Factoria-Book';
    src: local('Factoria-Book'), url(/Factoria-Book.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Factoria-Thin';
    src: local('Factoria-Thin'), url(/Factoria-Thin.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'ProximaNova-Black';
    src: local('ProximaNova-Black'), url(/ProximaNova-Black.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  .proximanovablack{
    font-family: 'ProximaNova-Black';
  }
.factoriablack{
    font-family: 'Factoria-Black';
  }
  .factoriabold{
    font-family: 'Factoria-Bold';
  }
  .factoriathin{
    font-family: 'Factoria-Thin';
  }
  .factoriabook{
    font-family: 'Factoria-Book';
  }
  .slide-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 500ms cubic-bezier(0.5, 1, 0.5, 1), opacity 300ms;
}

.slide-exit {
  transform: translateY(0);
  opacity: 1;
}

.slide-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 500ms cubic-bezier(0.25, 0.1, 0.25, 1), opacity 300ms;
}

.underline {
  text-decoration: none;
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white; /* Change to the color you want for the underline */
  transform: scaleX(0);
  transform-origin: 0 100%;
  transition: transform 0.3s ease; /* Adjust the duration as needed */
}

.underline:hover::after {
  transform: scaleX(1);
}


  
@media (prefers-color-scheme: dark) {

}


body {
font-family: 'Sofia Sans Condensed', sans-serif;
}
